<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.shop.dao.ShopProductImageDao">
    <resultMap id="BaseResultMap" type="com.zz.shop.domain.ShopProductImageDO">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="imageSrc" jdbcType="VARCHAR" property="imageSrc" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="productId" jdbcType="VARCHAR" property="productId" />
        <result column="category" jdbcType="VARCHAR" property="category" />
        <result column="isActive" jdbcType="TINYINT" property="isActive" />
        <result column="createdTime" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="createdBy" jdbcType="VARCHAR" property="createdBy" />
        <result column="updatedTime" jdbcType="TIMESTAMP" property="updatedTime" />
        <result column="updatedBy" jdbcType="VARCHAR" property="updatedBy" />
    </resultMap>
    <sql id="Base_Column_List">
        id, imageSrc, description, productId, category, isActive, createdBy, updatedTime, updatedBy
    </sql>
    <select id="get_product_image" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from shop_ProductImage
        where
            isActive = true
            and
            category = 'mainCarousel'
            and
            productId = #{productId, jdbcType=VARCHAR}
    </select>
</mapper>