<div data-th-include="voteTopic/voteTopicAdd"></div>
<div class="card">
    <div class="card-block">
        <div class="table-responsive">
            <div id="data-table_wrapper" class="dataTables_wrapper">
                <div class="dataTables_buttons hidden-sm-down actions">
                    <span class="actions__item zmdi zmdi-search" onclick="search()" title="搜索" />
                    <span class="actions__item zmdi zmdi-refresh-alt" onclick="refresh()" title="刷新" />
                    <div class="dropdown actions__item">
                        <i data-toggle="dropdown" class="zmdi zmdi-download">
		            </i>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item" data-table-action="excel" onclick="exportvoteTopicExcel()">
		                    Excel (.xlsx)
		                </a>
                            <a href="javascript:void(0)" class="dropdown-item" data-table-action="csv" onclick="exportvoteTopicCsv()">
		                    CSV (.csv)
		                </a>
                        </ul>
                    </div>
                    <div class="dropdown actions__item" shiro:hasAnyPermissions="voteTopic:add,voteTopic:delete,voteTopic:update">
                        <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item" data-toggle="modal" data-target="#voteTopic-add" shiro:hasPermission="voteTopic:add">新增投票主题</a>
                            <a href="javascript:void(0)" class="dropdown-item" onclick="updateVoteTopic()" shiro:hasPermission="voteTopic:update">修改投票主题</a>
                            <a href="javascript:void(0)" class="dropdown-item" onclick="deletevoteTopic()" shiro:hasPermission="voteTopic:delete">删除投票主题</a>
                        </div>
                    </div>
                </div>
                <div id="data-table_filter" class="dataTables_filter">
                    <form class="voteTopic-table-form">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">
					               	标题：
					            </span>
                                    <div class="form-group">
                                        <input type="text" name="title" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <table id="voteTopicTable" data-mobile-responsive="true" class="mb-bootstrap-table text-nowrap"></table>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/voteTopic/voteTopic.js}"></script>
<script data-th-src="@{js/app/voteTopic/voteTopicEdit.js}"></script>